@charset "UTF-8";
.main-section {
  display: block;
  min-height: 100dvh;
  padding: 18rem 0;
}

#intro {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 1280px) {
  #intro a {
    position: relative;
  }
  #intro a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #111;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
  #intro a:hover::after {
    width: 100%;
  }
}

.profile-img {
  width: 20rem;
  border-radius: 1.6rem;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-animation: slideIn 0.5s ease-out forwards;
          animation: slideIn 0.5s ease-out forwards;
}
.profile-img .img {
  display: block;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.skills__list .skills__item {
  margin-bottom: 20px;
  color: #303030;
}
.skills__list .skills__item[data-skill=HTML5] .progress-fill {
  background-color: #e34f26;
}
.skills__list .skills__item[data-skill=CSS3] .progress-fill {
  background-color: #264de4;
}
.skills__list .skills__item[data-skill=SCSS] .progress-fill {
  background-color: #c6538c;
}
.skills__list .skills__item[data-skill=JavaScript] .progress-fill {
  background-color: #f7df1e;
}
.skills__list .skills__item[data-skill=jQuery] .progress-fill {
  background-color: #0769ad;
}
.skills__list .skills__item[data-skill=PHP] .progress-fill {
  background-color: #8892be;
}
.skills__list .skills__item[data-skill=JSP] .progress-fill {
  background-color: #ff6f00;
}

/* 프로그래스 */
.progress-bar {
  position: relative;
  width: 100%;
  height: 1rem;
  background-color: #eee;
  border-radius: 999px;
  margin-top: 0.8rem;
}
.progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #7bc4f7;
  border-radius: 999px;
  width: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.progress-per {
  position: absolute;
  right: 0;
  top: -2.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.025rem;
  color: #747478;
}
@media (max-width: 991px) {
  .progress-per {
    font-size: 1.2rem;
  }
}

.project__wrap {
  position: relative;
}

.project-filter__wrap {
  position: absolute;
  top: -8rem;
  right: 0;
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
}
.project-filter__item:has(.btn-reset) {
  margin-right: 0.4rem;
}
.project-filter__item .btn {
  padding: 0.4rem 1.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
  border: 1px solid #666;
  border-radius: 999px;
  color: #ddd;
}
@media (max-width: 991px) {
  .project-filter__item .btn {
    font-size: 1.4rem;
  }
}
.project-filter__item .btn.active {
  border-color: transparent;
  background-color: #22455e;
  color: #fff;
  font-weight: 500;
}
.project-filter__item .btn-reset {
  width: 2.4rem;
  height: 2.4rem;
  background-color: unset;
  background-image: url("../img/common/icon/icon_reset.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
  /* 회전 애니메이션 */
}
@-webkit-keyframes rotateAnim {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotateAnim {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.project-filter__item .btn-reset.rotate {
  -webkit-animation: rotateAnim 0.5s linear;
          animation: rotateAnim 0.5s linear;
}

.project-list__wrap {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4rem;
}
.project-list__content {
  width: calc(50% - 2rem);
}
.project-list__thumb {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 1.6rem;
  overflow: hidden;
}
.project-list__thumb img {
  width: 100%;
  height: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-list__info {
  margin-top: 1.6rem;
}
.project-list__info .txt1 {
  margin-top: 0.2rem;
}

#projects { /*background-color: #3b4047;*/
  background-color: #32363d;
}