@charset 'utf-8';
@use 'mixin' as *;

header{ position: fixed; top: 0; left: 0; width: 100%; background: rgba(255, 255, 255, 0.08); backdrop-filter: blur(4px); transition: 0.3s; z-index: 6;
	&:hover,
	&:focus,
	&:has(.is-hover),
	&:has(.is-focus){ background-color: $color-realwhite; transition: 0.3s;}
}

.header-inner{ @include d-flex; @include align-center; @include justify-between; height: $header-height; /*padding: 0 5rem;*/
	//반응형
	@include res991{ height: 5.9rem; /*padding: 0 1.2rem;*/}
}
.logo{ display: inline-block; width: 12rem; height: 7.8rem;
	//반응형
	@include res991{ width: 12rem; height: 7.8rem;}
	a{ font-size: 0; display: block; width: 100%; height: 100%; background-image: url('../img/common/logo.png'); background-repeat: no-repeat; background-position: center; background-size: 100%; transition: 0.3s;}
}

.gnb{ display: block; height: 100%;
	ul{ @include d-flex; @include align-center; height: 100%;
		> li{ height: 100%; padding: 4.5rem 3.8rem;
			> a{ display: block; height: 100%; color: $color-black; @include title-style(depth5, 600, 1.5); transition: 0.3s;}
		}
		
	}
}

.tnb-wrap{ @include d-flex; margin-left: auto;
	.icon{ display: inline-block; width: 4.8rem; height: 4.8rem; font-size: 0; transition: 0.3s;
		&-search{ @include d-flex; @include align-center; @include justify-center;}
		&-user{ @include d-flex; @include align-center; @include justify-center;}
		img{ width: 2.4rem; display: block; transition: .25s;}
	}

	//반응형
	@include res991{ gap: 1.6rem;
		.icon{ width: 3.2rem; height: 3.2rem;
			&-user{ display: none;}
		}
	}
}

//사이트맵(햄버거)
.sitemap{
	&-trigger { position: relative; z-index: 3;
		span { position: absolute; left: 1.2rem; display: inline-block; transition: all 0.3s; box-sizing:border-box; width: 2.4rem; height: 0.2rem; background-color: $color-realwhite;
			&:nth-of-type(1) { top: 1.4rem; }
			&:nth-of-type(2) { top: 2.4rem; }
			&:nth-of-type(3) { bottom: 1.3rem; }

			@include res991{ left: .4rem;
				&:nth-of-type(1) { top: .6rem; }
				&:nth-of-type(2) { top: 1.5rem; }
				&:nth-of-type(3) { bottom: .55rem; }
			}
		}
		&.is-active{
			span {	background-color: $color-main !important; width: 2.6rem; height: 0.2rem; left: 1rem;
				&:nth-of-type(1){ transform: translateY(0.8rem) rotate(-45deg);}
				&:nth-of-type(2){ opacity: 0;}
				&:nth-of-type(3){ bottom: 1.5rem; transform: translateY(-0.9rem) rotate(45deg);}

				@include res991{ left: .4rem;
					&:nth-of-type(1) { top: .6rem; }
					&:nth-of-type(2) { top: 1.5rem; }
					&:nth-of-type(3) { bottom: .55rem; }
				}
			}
		}
	}

	//사이트맵(햄버거메뉴)
	&-wrap{ display: none; overflow-y: auto; position: fixed; width: 100%; height: 100vh; top: 0; left: 0; background-color: $color-realwhite; background-image: url('../img/common/bg-symbol.png'); background-repeat: no-repeat; background-position: right -1% bottom 3.66rem; background-size: 25.8%;
		.inner{ @include d-flex; @include align-center; @include justify-between; padding: 16rem 4.2rem 0 10rem;}
		h2{ width: 28.482%; max-width: 57.3rem; padding-bottom: 3.7rem; border-bottom: 1px solid $color-main; @include title-style(depth1,700,1.4); letter-spacing: -0.05rem;}

		.site-map{
			.depth1:has(.etc-menu-hide){ display: none;}
		}

		@include res991{
			.inner{ @include flex-column; @include align-start; padding: 0;}

			.user-menu{ @include d-flex; @include align-center; width: 100%; padding: 0 2.4rem; border-bottom: 1px solid $color-main;
				a{ display: inline-block; padding: 1.9rem 0; color: $color-main; @include text-style(depth1,500,1.6);
					&:first-child{ position: relative; margin-right: 1rem; padding-right: 1.3rem;
						&::after{ content: ''; position: absolute; top: 50%; right: 0; transform: translateY(-50%); display: inline-block; width: .3rem; height: .3rem; border-radius: .3rem; background-color: $color-main;}
					}
				}
			}
		}

		@include res680{ background-image: none;
			.inner{ @include justify-between;}
		}
	}

	//사이트맵 페이지
	&-page-wrap{
		.inner{ @include d-flex; @include align-start; @include justify-between;}
		h2{ width: 28.482%; max-width: 57.3rem; padding-bottom: 3.7rem; border-bottom: 1px solid $color-main; @include title-style(depth1,700,1.4); letter-spacing: -0.05rem;}
	}
}
.site-mo-scroll{ min-width: 96rem; width: 57.582%;
	@include res991{ min-width: unset; width: 100%; padding-top: 3rem; max-height: calc(100vh - 6.1rem); overflow-y: auto;}
	@include res680{ padding-top: 0;}
}

.site-map{ @include d-flex; @include flex-wrap; row-gap: 8rem; width: 100%;
	.depth1{ width: 25%; min-height: 25.7rem; padding: 0 3.8rem; border-right: 1px solid $color-graybd;
		&:nth-child(4n){ padding-right: 0; border-right: none;}
		> a{ color: $color-main; @include title-style(depth4,700,1.5); letter-spacing: -0.05rem;}
		> ul{ margin-top: 4.4rem;}

	}
	.depth2{
		+ .depth2{ margin-top: .8rem;}
		> a{ color: $color-grayfont; @include text-style(depth1,700,1.6); letter-spacing: -0.05rem;}
		//3뎁스는 정책이 정해지지않아서 임시로 숨김처리
		> ul{ display: none;}
	}

	@include res991{ min-width: unset; width: 100%;
		.depth1{ position: relative; padding: 0 2.4rem;}
	}

	@include res680{ row-gap: 0; min-width: unset; width: 100%; padding-bottom: 24.1rem;  background-image: url('../img/common/bg-symbol.png'); background-repeat: no-repeat; background-position: right -1% bottom 3.66rem; background-size: 25.8%; background-size: 27.71rem; background-position: right -3.01rem bottom;
		.depth1{ position: relative; width: 100%; min-height: unset; padding: 0; border: 0;
			> a{ display: block; padding: 2.8rem 2.4rem; color: $color-black;
				&::after{ content: ''; position: absolute; top: 3rem; right: 2.4rem; width: 2rem; height: 2rem; background-image: url('../img/common/arrow-bottom.png'); background-repeat: no-repeat; background-position: center; background-size: 1.1rem; transition: all .2s;}
			}
			> ul{ display: none; margin-top: unset; padding: 1rem 2.4rem; background-color: $color-lightblue;}
			&:has(>a.active){ background-color: $color-main;
				> a{ color: $color-realwhite;
					&::after{ filter: grayscale(1) brightness(0) invert(1); transform: rotate(180deg); transition: all .2s;}
				}
			}
			&:not(:has(>a.active)){
				>ul{ display: none;}
			}
		}
		.depth2{
			+ .depth2{ margin-top: 0;}
			> a{ display: block; padding: 1.1rem 0; color: $color-semiblack; font-size: 1.6rem; font-weight: 500;}
		}
	}
}