@charset 'utf-8';
@use 'mixin' as *;

main{ padding-top: $header-height;}

.main-section{ display: block; min-height: 100dvh; padding: calc($header-height - 6rem) 0;
	@include res680{ padding: calc($header-height--m - 4rem) 0;}

}

#about,
#skills{
	@include res680{ 
		.container{ @include d-flex; @include flex-column; gap: 4rem;
			.content{ width: 100%;}
		}
	}
}

.profile-img{ width: 20rem; border-radius: 1.6rem; overflow: hidden; opacity: 0; transform: translateY(10%); animation:slideIn .5s ease-out forwards;
	.img{ display: block; width: 100%; max-width: fit-content;}

	@keyframes slideIn {
		0%{ opacity: 0; transform: translateY(10%);}
		100%{ opacity: 1; transform: translateY(0);}
	}
}

.skills__list { 
	.skills__item{	margin-bottom: 20px; color: $color-semiblack;
		&[data-skill="HTML5"] .progress-fill{ background-color: #e34f26;}
		&[data-skill="CSS3"] .progress-fill{ background-color: #264de4;}
		&[data-skill="SCSS"] .progress-fill{ background-color: #c6538c;}
		&[data-skill="JavaScript"] .progress-fill{ background-color: #f7df1e;}
		&[data-skill="jQuery"] .progress-fill{ background-color: #0769ad;}
		&[data-skill="PHP"] .progress-fill{ background-color: #8892be;}
		&[data-skill="JSP"] .progress-fill{ background-color: #ff6f00;}
	}
}

/* 프로그래스 */
.progress{
	// 프로그래스 - 바
	&-bar{ position: relative; width: 100%; height: 1rem; background-color: #eee; border-radius: 999px; margin-top: .8rem;}
	&-fill{ position: absolute; top: 0; left: 0; height: 100%; background-color: $color-main; border-radius: 999px; width: 0; transition: width .3s ease-in-out; }
	&-per{ position: absolute; right: 0; top: -2.5rem; @include caption-style(depth2, 400, 1.7); color: $color-grayfont;}
}

.project__wrap{ position: relative;}

.project-filter{
	&__wrap{ position: absolute; top: -8rem; right: 4rem; @include d-flex; @include align-center; gap: .8rem;
		@include res991{ position: unset;}
	}
	&__item{
		&:has(.btn-reset){ margin-right: .4rem;}
		.btn{ padding: .4rem 1.6rem; @include text-style(depth1, 400, 1.6); border: 1px solid $color-graybasic; border-radius: 999px;;
			&.active{ border-color: transparent; background-color: $color-sub; color: $color-realwhite; font-weight: 500;}
			&-reset{ width: 2.4rem; height: 2.4rem; background-color: unset; background-image: url('../img/common/icon/icon_reset.png'); background-repeat: no-repeat; background-position: center; background-size: 100%; font-size: 0; margin: 0; padding: 0; line-height: 0; cursor: pointer;
				/* 회전 애니메이션 */
				@keyframes rotateAnim {
					from { transform: rotate(0deg); }
					to { transform: rotate(360deg); }
				}

				&.rotate {
					animation: rotateAnim 0.5s linear;
				}
			}

			@include res(480px){ padding: 0.2rem 1rem; font-size: 1.2rem;}
		}
	}
}
.project-list{
	&__wrap{ gap: 4rem; display: grid; grid-template-columns: repeat(2, 1fr); gap: 4rem;}
	//&__content{ width: calc(50% - 2rem);}
	&__thumb{ display: block; width: 100%; height: auto; aspect-ratio: 16/9; border-radius: 1.6rem; overflow: hidden; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
		img{ width: 100%; height: 100%; max-width: fit-content; object-fit: cover;}
	}
	&__info{ margin-top: 1.6rem;
		.txt1{ margin-top: .2rem;}
	}

	@include res991{ 
		&__wrap{ gap: 2.4rem;}
	}
	@include res680{ 
		&__wrap{ grid-template-columns: 1fr; gap: 3.6rem;}
	}
}

.tools{
	&__group{ 
		& + & { margin-top: 4rem;}
	}
	&__list{ @include d-flex; @include flex-wrap; gap: 2.4rem; margin-top: 2rem}
	&__item{
		.icon{ @include d-flex; @include align-center; width: 4.8rem; height: 4.8rem;
			&.icon-72{ width: 7.2rem;}
			img{ display: block; width: 100%;}
		}
	}
}

.operations-card{ display: grid; grid-template-columns: repeat(2, 1fr); gap: 2rem;

	@include res680{ grid-template-columns: 1fr; gap: 1.6rem;}

	&__item{ padding: 2rem; border-radius: 1.2rem; background: rgba(255,255,255,.05); transition: .25s;
		&.highlight{ border: 1px solid rgba(255,255,255,.2);}
		@include res_hover{
			&:hover{ transform: translateY(-6px); background: rgba(255,255,255,.08);}
		}

		@include res680{ background: rgba(255,255,255,.03);
			&:nth-child(2n){ background: rgba(255,255,255,.08);}
		}

	}

	&__title {
		@include title-style(depth5, 500, 1.3);
	}

	&__desc {
		margin-top: 0.4rem;
		@include text-style(depth1, 400, 1.5);
		color: $color-graydisable;
	}

	&__tags {
		@include d-flex; @include flex-wrap; gap: .4rem;
		margin-top: 1.6rem;

		.tag {
			@include caption-style(depth2, 400, 1.2);
			padding: .2rem .6rem;
			border-radius: 999px;
			background: rgba(255,255,255,.1);
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0.8rem;
		@include caption-style(depth2, 400, 1.2);
		color: #777;
	}

	&__link {
		@include caption-style(depth2, 400, 1.2);
		text-transform: uppercase;
		border-bottom: 1px solid currentColor;
	}
}